$nav-background-color: #ff6347;
$nav-hover-color: #ffb1a3;

body {
  width: 100%;
  font-size: 2em;
}

.uk-navbar {
  background-color: $nav-background-color;
  .uk-navbar-nav>li {
    &:hover {   background-color: $nav-hover-color;}
    >a:hover {  background-color: $nav-hover-color;}
  }
}

.reading-list-header {
  width: 100%;
  height: 2em;

  .reading-list-header_brand {
    height: 100%;
    font-size: 1em;
    font-weight: bold;
    margin: 0.28em;
  }

  .reading-list-header_content {
    color: white;
    font-size: 0.8em;
    margin: 0.5em 0.5em 0.2em 0;
  }
}

.reading-list-content {
  border: 2px solid #ffb1a3;
  margin-top: 0.5em;
  padding: 0.5em 1em;
}
