.login-box {
  padding: 1em 1em;
  font-size: 0.8em;

  .uk-panel-wrapper {
    width: 90%;
    margin: 1em auto;
  }

  .uk-panel-wrapper .uk-panel-box {
    padding: 2em 1em;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 0.75em;
    -moz-border-radius: 0.75em;
    -ms-border-radius: 0.75em;
    border-radius: 0.75em;
  }

  .login-box_section {
    font-size: 0.7em;
  }

}
