<dl class="uk-animation-fade">
  <dt>10 Benefits of Reading: </dt>
  <hr>
  <dd class="uk-text-small">When was the last time you read a book, or a substantial magazine article? Do your daily reading habits center around tweets, Facebook updates, or the directions on your instant oatmeal packet? If you’re one of countless people who don’t make a habit of reading regularly, you might be missing out: reading has a significant number of benefits, and just a few benefits of reading are listed below.</dd>
</dl>
<ul class="uk-list uk-list-line uk-text-large">
  <li>Mental Stimulation</li>
  <li>Stree Reduction</li>
  <li>Knowledge</li>
  <li>Vocabulary Expansion</li>
  <li>Memory Improvement</li>
  <li>Stronger Analytical Thinking Skills</li>
  <li>Improveed Focus and Concentration</li>
  <li>Better Writing Skills</li>
  <li>Tranquility</li>
  <li>Free Entertainment</li>
</ol>
