<div class="reading-list-content_heading">
  <div ng-if="!isEditing">
    <span class="uk-h2"><i class="uk-icon-book"></i> {{ item.name }}</span>
    <button ng-click="editItem()"><i class="uk-icon-edit"></i> Edit Book</button>
    <button ng-click="deleteItem(item, $index)"><i class="uk-icon-remove"></i> Delete Book</button>
  </div>
  <div ng-if="isEditing">
    <form ng-submit="updateItem()">
      <div class="uk-form-icon">
        <i class="uk-icon-book"></i>
        <input type="text" ng-model="item.name" class="reset-input-padding">
      </div>
      <button type="submit"><i class="uk-icon-save"></i> Update</button>
      <span ng-repeat="error in errors.name" class="uk-text-danger reading-list-error">{{ error }}</span>
    </form>
  </div>
</div>
