<h3 class="uk-animation-fade">We're in lists.</h3>
<hr>
<ul ng-repeat="list in lists" class="uk-list uk-list-space">
  <li class="reading-list-content_list uk-text-justify uk-text-middle">
    <a ui-sref="lists-show({ id: list.id })">
      <span class="uk-text-large">{{ list.name }}</span>
    </a>
    <button ng-click="deleteList(list, $index)"><i class="uk-icon-remove"></i> Delete List</button>
  </li>
</ul>
<form ng-submit="createList()">
  <input type="text" placeholder="Type your list name here." ng-model="newListForm.name">
  <button type="submit">Create List</button>
</form>
