<div class="reading-list-content_heading">
  <h2 class="uk-animation-fade">Now it's your turn to create a reading list. <i class="uk-icon-hand-spock-o"></i></h2>
  <form ng-submit="createList()" class="reading-list-content_heading_form">
    <div class="uk-form-icon">
      <i class="uk-icon-list-alt"></i>
      <input type="text" placeholder="Your Reading List" ng-model="newListForm.name" class="reset-input-padding">
    </div>
    <button type="submit"><i class="uk-icon-list-alt"></i> Create List</button>
  </form>
</div>
<hr>
<ul ng-repeat="list in lists" class="uk-list uk-list-space">
  <li class="reading-list-content_list uk-text-justify uk-text-middle">
    <a ui-sref="lists-show({ id: list.id })">
      <span class="uk-text-large">{{ list.name }}</span>
    </a>
    <button ng-click="deleteList(list, $index)"><i class="uk-icon-remove"></i> Delete List</button>
  </li>
</ul>
